html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #246;
    /* margin: 5px 5px; */
    padding: 5px 5px;
}

.banner {
    text-align: center;
}

.tabBar {
    overflow: hidden;
    background-color: #234;
    border: 1px solid #000;
    width: 50%;
    margin: auto;
}

.tabBar > button {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    width: 33%;
    text-align: center;
}

.tabBar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}

.tablink {
    color: #fff;
    border: none;
}

.tabBar button:hover {
    background-color: #556;
}

.tabBar button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
