/* page container */
#pageContainer {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* container around sequencer buttons/table */
div.container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

/* dropdowns for sound selection */
dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButton {
    cursor: pointer;
    padding: 10px;
    border: none;
    width: 150px;
    margin: 0px 20px 0px 0px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 80px;
    width: 150px;
}

.dropdownContent a {
    padding: 5px 5px;
    display: block;
    border: solid;
    border-width: 1px;
}

.show {
    display: block;
}

/* sequencer buttons and table */
div #sequencer {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: grey;
    padding: 20px;
}

div.sequenceRow {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

div.step {
    border: solid;
    border-width: .2px;
    background-color: white;
    margin: 0px 5px 0px 0px;
    height: 14px;
    width: 14px;
}

div.step > div.cell {
    margin: 2px 2px;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

div.cell.active {
    background-color: black;
}

div.cell.inactive {
    background-color: white;
}
